[workspace]
resolver = "2"
{% if rustClient %}
members = ["clients/rust", "program"]
{% else %}
members = ["program"]
{% endif %}

{% if programFramework === 'anchor' %}
[profile.release]
overflow-checks = true
{% endif %}
