# {{ programName | titleCase }}

TODO

```sh
{{ getNpmCommand("programs:build") }}
{{ getNpmCommand("programs:test") }}
{{ getNpmCommand("programs:format") }}
{{ getNpmCommand("programs:lint") }}
```

TODO
