**/.changeset
**/.git
**/.github
**/node_modules
**/projects
**/docs
**/tsconfig.*.json
**/tsconfig.json

template/**/*.njk
template/**/*.json
template/**/*.yaml
template/**/.gitignore

.prettierrc
package.json
README.md
