{
  "name": "{{ jsClientPackageName }}",
  "version": "0.0.0",
  "description": "JavaScript client for the {{ programName | titleCase }} program",
  "sideEffects": false,
  "module": "./dist/src/index.js",
  "main": "./dist/src/index.cjs",
  "types": "./dist/types/src/index.d.ts",
  "type": "module",
  "exports": {
    ".": {
      "types": "./dist/types/src/index.d.ts",
      "import": "./dist/src/index.js",
      "require": "./dist/src/index.cjs"
    }
  },
  "files": [
    "./dist/src",
    "./dist/types"
  ],
  "scripts": {
    "build": "rimraf dist && tsup && tsc -p ./tsconfig.declarations.json",
    "build:docs": "typedoc",
    "test": "ava",
    "lint": "eslint --ext js,ts,tsx src",
    "lint:fix": "eslint --fix --ext js,ts,tsx src",
    "format": "prettier --check src test",
    "format:fix": "prettier --write src test"
  },
  "publishConfig": {
    "access": "public",
    "registry": "https://registry.npmjs.org"
  },
  "license": "MIT",
  "dependencies": {
    "@solana/accounts": "^2.0.0-preview",
    "@solana/addresses": "^2.0.0-preview",
    "@solana/codecs": "^2.0.0-preview",
    "@solana/instructions": "^2.0.0-preview",
    "@solana/programs": "^2.0.0-preview",
    "@solana/signers": "^2.0.0-preview"
  },
  "devDependencies": {
    "@ava/typescript": "^4.1.0",
    "@solana/web3.js": "^2.0.0-preview",
    "@solana/webcrypto-ed25519-polyfill": "^2.0.0-preview",
    "@typescript-eslint/eslint-plugin": "^7.3.1",
    "@typescript-eslint/parser": "^7.3.1",
    "ava": "^6.1.2",
    "eslint": "^8.57.0",
    "eslint-config-airbnb-typescript": "^18.0.0",
    "eslint-config-prettier": "^9.1.0",
    "eslint-plugin-import": "^2.29.0",
    "eslint-plugin-prettier": "^5.1.3",
    "prettier": "^3.2.5",
    "rimraf": "^5.0.5",
    "tsup": "^8.0.2",
    "typedoc": "^0.25.12",
    "typedoc-plugin-expand-object-like-types": "^0.1.2",
    "typedoc-plugin-missing-exports": "^2.2.0",
    "typescript": "^5.4.2"
  },
  "ava": {
    "require": [
      "@solana/webcrypto-ed25519-polyfill"
    ],
    "typescript": {
      "compile": false,
      "rewritePaths": {
        "test/": "dist/test/"
      }
    }
  },
  "packageManager": "pnpm@8.2.0"
}
