#!/usr/bin/env zx
import 'zx/globals';
import * as c from 'codama';
import { rootNodeFromAnchor } from '@codama/nodes-from-anchor';
{% if jsClient %}
import { renderVisitor as renderJavaScriptVisitor } from '@codama/renderers-js';
{% endif %}
{% if rustClient %}
import { renderVisitor as renderRustVisitor } from '@codama/renderers-rust';
{% endif %}
import { getAllProgramIdls } from './utils.mjs';

// Instanciate Codama.
const [idl, ...additionalIdls] = getAllProgramIdls().map((idl) =>
  rootNodeFromAnchor(require(idl))
);
const codama = c.createFromRoot(idl, additionalIdls);

// Update programs.
codama.update(
  c.updateProgramsVisitor({
    {{ programCrateName | camelCase }}: { name: '{{ programName | camelCase }}' },
  })
);

{% if programFramework === 'shank' %}
// Update accounts.
codama.update(
  c.updateAccountsVisitor({
    counter: {
      seeds: [
        c.constantPdaSeedNodeFromString('utf8', 'counter'),
        c.variablePdaSeedNode(
          'authority',
          c.publicKeyTypeNode(),
          'The authority of the counter account'
        ),
      ],
    },
  })
);

// Update instructions.
codama.update(
  c.updateInstructionsVisitor({
    create: {
      byteDeltas: [c.instructionByteDeltaNode(c.accountLinkNode('counter'))],
      accounts: {
        counter: { defaultValue: c.pdaValueNode('counter') },
        payer: { defaultValue: c.accountValueNode('authority') },
      },
    },
    increment: {
      accounts: {
        counter: { defaultValue: c.pdaValueNode('counter') },
      },
      arguments: {
        amount: { defaultValue: c.noneValueNode() },
      },
    },
  })
);

// Set account discriminators.
const key = (name) => ({ field: 'key', value: c.enumValueNode('Key', name) });
codama.update(
  c.setAccountDiscriminatorFromFieldVisitor({
    counter: key('counter'),
  })
);
{% endif %}

{% if jsClient %}
// Render JavaScript.
const jsClient = path.join(__dirname, '..', 'clients', 'js');
codama.accept(
  renderJavaScriptVisitor(path.join(jsClient, 'src', 'generated'), {
    prettierOptions: require(path.join(jsClient, '.prettierrc.json')),
  })
);
{% endif %}

{% if rustClient %}
// Render Rust.
const rustClient = path.join(__dirname, '..', 'clients', 'rust');
codama.accept(
  renderRustVisitor(path.join(rustClient, 'src', 'generated'), {
    formatCode: true,
    crateFolder: rustClient,
  })
);
{% endif %}
